section {
    text-align: center;
    background: white;
    width: 80%;
    height: 63rem;
    margin: 10rem auto;
}

#article-list {
    text-align: left;
    padding: 0 1rem;
}


div ul li {
    font-size: 1.3rem;
}

div{
    text-align: left;
}

ul{
    list-style: none;
}