section div.wrapper-about {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

div.wrapper-about ol li {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ol{
    text-align: left;
}
