header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0 1rem;
}

nav ul li {
    display: inline-block;
    margin: auto 10px;
    text-decoration: none;
}

nav ul li a {
    list-style: none;
    color: #003366;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}
